Lab2/Reference/Lab2/lab2flow.json
[{"id":"83cdbb86.9771f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"703d07f.fc236f8","type":"subflow","name":"Remote GPU","info":"","category":"","in":[{"x":40,"y":460,"wires":[{"id":"ffd478b0.0fb848"}]}],"out":[{"x":1100,"y":820,"wires":[{"id":"884cb256.dea2","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a91eae8c.9a88","type":"subflow","name":"Remote GPU for Cuda","info":"","category":"","in":[{"x":40,"y":200,"wires":[{"id":"2dad428a.741b8e"}]}],"out":[{"x":1140,"y":560,"wires":[{"id":"348e4440.adff3c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"efc9952.1210d68","type":"inject","z":"83cdbb86.9771f8","name":"Start plz click here","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[[]]},{"id":"b0fd62af.ec20e","type":"debug","z":"83cdbb86.9771f8","name":"END OF PROCESS","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"\"Completed!\"","targetType":"jsonata","x":980,"y":420,"wires":[]},{"id":"7b3bf58a.f966bc","type":"subflow:703d07f.fc236f8","z":"83cdbb86.9771f8","name":"Remote GPU service","env":[],"x":700,"y":280,"wires":[["b0fd62af.ec20e"]]},{"id":"cb8ca400.c92108","type":"file in","z":"83cdbb86.9771f8","name":"Select input file here","filename":"/../../../../../Users/naveennathan/Downloads/input_img/0.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":420,"y":420,"wires":[["7b3bf58a.f966bc"]]},{"id":"8fdf7a9b.6f5c28","type":"http request","z":"703d07f.fc236f8","name":"Post an image file to the proxy server","method":"POST","ret":"txt","paytoqs":false,"url":"http://141.142.204.78/uploader","tls":"","persist":false,"proxy":"","authType":"bearer","x":610,"y":460,"wires":[["83149eaf.47e45","d76d1aac.dfa238"]]},{"id":"ffd478b0.0fb848","type":"function","z":"703d07f.fc236f8","name":"Specify File, Device Type, and Task Type","func":"msg.headers = {\n    \"content-type\" : 'multipart/form-data'\n    };\nlet databuffer = msg.payload;\n\nmsg.payload = {\n    \"file\": {\n        \"value\": databuffer,\n        \"options\": {\n            \"filename\": msg.filename\n        }\n    },\n    \"device_type\": \"tx2\",\n    \"task_type\": \"skynet\"\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":460,"wires":[["8fdf7a9b.6f5c28"]]},{"id":"5aa9d537.d82cfc","type":"debug","z":"703d07f.fc236f8","name":"complete msg object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":780,"wires":[]},{"id":"b0c08038.30fa9","type":"http request","z":"703d07f.fc236f8","name":"Query the status","method":"GET","ret":"txt","paytoqs":false,"url":"http://141.142.204.78/uploader","tls":"","persist":false,"proxy":"","authType":"bearer","x":620,"y":520,"wires":[["94a05653.731768"]]},{"id":"83149eaf.47e45","type":"function","z":"703d07f.fc236f8","name":"Specify Task ID","func":"msg.headers = {\n    \"taskID\" : msg.payload\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"x":180,"y":520,"wires":[["b0c08038.30fa9","c6eeb9c9.a935f8"]]},{"id":"94a05653.731768","type":"switch","z":"703d07f.fc236f8","name":"ReQuery","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"UNKNOWN","vt":"str"},{"t":"eq","v":"SUBMITTED","vt":"str"},{"t":"eq","v":"RUNNING","vt":"str"},{"t":"eq","v":"PENDING","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":160,"y":800,"wires":[["1395b84a.784668"],["1395b84a.784668"],["1395b84a.784668"],["1395b84a.784668"],["5d2f3625.26f918","1395b84a.784668"]]},{"id":"c6eeb9c9.a935f8","type":"delay","z":"703d07f.fc236f8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":560,"wires":[["e2d9aa3c.bd1518"]]},{"id":"e2d9aa3c.bd1518","type":"delay","z":"703d07f.fc236f8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":620,"wires":[["c6eeb9c9.a935f8","b0c08038.30fa9"]]},{"id":"1395b84a.784668","type":"debug","z":"703d07f.fc236f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":780,"wires":[]},{"id":"51c106fe.357fb8","type":"http request","z":"703d07f.fc236f8","name":"Download File","method":"GET","ret":"bin","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":820,"wires":[["5aa9d537.d82cfc","ea18b45.56e5548"]]},{"id":"5d2f3625.26f918","type":"change","z":"703d07f.fc236f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":820,"wires":[["51c106fe.357fb8"]]},{"id":"ea18b45.56e5548","type":"file","z":"703d07f.fc236f8","name":"Download File Path","filename":"/../../../../../Users/naveennathan/Downloads/file.tar.gz","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":770,"y":820,"wires":[["884cb256.dea2"]]},{"id":"d76d1aac.dfa238","type":"debug","z":"703d07f.fc236f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":460,"wires":[]},{"id":"884cb256.dea2","type":"exec","z":"703d07f.fc236f8","command":"tar -xvf /../../../../../Users/naveennathan/Downloads/file.tar.gz -C /../../../../../Users/naveennathan/Downloads/","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Untar File","x":960,"y":820,"wires":[[],[],[]]},{"id":"1a80ed25.c07f33","type":"catch","z":"703d07f.fc236f8","name":"","scope":null,"uncaught":false,"x":160,"y":900,"wires":[["eb90d1fc.25936"]]},{"id":"eb90d1fc.25936","type":"debug","z":"703d07f.fc236f8","name":"complete msg object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":360,"y":900,"wires":[]},{"id":"958a1071.29c75","type":"file in","z":"83cdbb86.9771f8","name":"Select cuda file here","filename":"/../../../../../Users/naveennathan/Downloads/template.cu","format":"","chunk":false,"sendError":false,"encoding":"none","x":420,"y":460,"wires":[["13a0faa5.752eb5"]]},{"id":"13a0faa5.752eb5","type":"subflow:a91eae8c.9a88","z":"83cdbb86.9771f8","name":"","env":[],"x":700,"y":320,"wires":[["b0fd62af.ec20e"]]},{"id":"f7f03e5d.d381a","type":"http request","z":"a91eae8c.9a88","name":"Post an cuda file to the proxy server","method":"POST","ret":"txt","paytoqs":false,"url":"http://141.142.204.78/uploader","tls":"","persist":false,"proxy":"","authType":"bearer","x":610,"y":200,"wires":[["bc5ffe23.9eed6","fb736928.3cf0f8"]]},{"id":"2dad428a.741b8e","type":"function","z":"a91eae8c.9a88","name":"Specify File, Device Type, and Task Type","func":"msg.headers = {\n    \"content-type\" : 'multipart/form-data'\n    };\nlet databuffer = msg.payload;\n\nmsg.payload = {\n    \"file\": {\n        \"value\": databuffer,\n        \"options\": {\n            \"filename\": msg.filename\n        }\n    },\n    \"device_type\": \"v100\",\n    \"task_type\": \"cuda\"\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":200,"wires":[["f7f03e5d.d381a"]]},{"id":"7703595b.458df8","type":"debug","z":"a91eae8c.9a88","name":"complete msg object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":520,"wires":[]},{"id":"daf15700.e3d1d8","type":"http request","z":"a91eae8c.9a88","name":"Query the status","method":"GET","ret":"txt","paytoqs":false,"url":"http://141.142.204.78/uploader","tls":"","persist":false,"proxy":"","authType":"bearer","x":620,"y":260,"wires":[["4977b460.68e44c"]]},{"id":"bc5ffe23.9eed6","type":"function","z":"a91eae8c.9a88","name":"Specify Task ID","func":"msg.headers = {\n    \"taskID\" : msg.payload\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"x":180,"y":260,"wires":[["daf15700.e3d1d8","c1777068.fd09b"]]},{"id":"4977b460.68e44c","type":"switch","z":"a91eae8c.9a88","name":"ReQuery","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"UNKNOWN","vt":"str"},{"t":"eq","v":"SUBMITTED","vt":"str"},{"t":"eq","v":"RUNNING","vt":"str"},{"t":"eq","v":"PENDING","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":160,"y":540,"wires":[["51ec276a.1c5dc8"],["51ec276a.1c5dc8"],["51ec276a.1c5dc8"],["51ec276a.1c5dc8"],["69d9f041.dda4a","51ec276a.1c5dc8"]]},{"id":"c1777068.fd09b","type":"delay","z":"a91eae8c.9a88","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":300,"wires":[["242c0159.34d6ae"]]},{"id":"242c0159.34d6ae","type":"delay","z":"a91eae8c.9a88","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":360,"wires":[["c1777068.fd09b","daf15700.e3d1d8"]]},{"id":"51ec276a.1c5dc8","type":"debug","z":"a91eae8c.9a88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":520,"wires":[]},{"id":"18964cdb.9409e3","type":"http request","z":"a91eae8c.9a88","name":"Download Results","method":"GET","ret":"bin","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":560,"wires":[["7703595b.458df8","6b69cf0.eb7af3"]]},{"id":"69d9f041.dda4a","type":"change","z":"a91eae8c.9a88","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":560,"wires":[["18964cdb.9409e3"]]},{"id":"6b69cf0.eb7af3","type":"file","z":"a91eae8c.9a88","name":"Download Results Path","filename":"/../../../../../Users/naveennathan/Downloads/cuda.tar.gz","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":810,"y":560,"wires":[["348e4440.adff3c"]]},{"id":"fb736928.3cf0f8","type":"debug","z":"a91eae8c.9a88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":200,"wires":[]},{"id":"348e4440.adff3c","type":"exec","z":"a91eae8c.9a88","command":"tar -xvf /../../../../../Users/naveennathan/Downloads/cuda.tar.gz -C /../../../../../Users/naveennathan/Downloads/","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Untar File","x":1020,"y":560,"wires":[[],[],[]]},{"id":"b0df1880.583c08","type":"catch","z":"a91eae8c.9a88","name":"","scope":null,"uncaught":false,"x":160,"y":640,"wires":[["910c982b.2a0088"]]},{"id":"910c982b.2a0088","type":"debug","z":"a91eae8c.9a88","name":"complete msg object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":360,"y":640,"wires":[]}]