Lab2/Lab2_PartI.json
[{"id":"4d2bfccf.9aa184","type":"tab","label":"Lab2","disabled":false,"info":""},{"id":"9f7c5e7e.cfc07","type":"inject","z":"4d2bfccf.9aa184","name":"Start plz click here","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":400,"wires":[["f8333313.1e24f"]]},{"id":"f8333313.1e24f","type":"file in","z":"4d2bfccf.9aa184","name":"Input image","filename":"/Users/yuchengjin/Desktop/COLLEGE/JUNIOR/SP20/ECE498/Labs/Lab2/input_img/1.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":950,"y":400,"wires":[["6a194fa7.ab2348"]]},{"id":"9bba4f61.9e149","type":"http request","z":"4d2bfccf.9aa184","name":"Step 1: Send a request using HTTP POST with token","method":"POST","ret":"txt","paytoqs":false,"url":"http://141.142.204.78/uploader","tls":"","persist":false,"proxy":"","authType":"bearer","x":1160,"y":500,"wires":[["9dbf6a30.5e0b48","175b3fda.4924b"]]},{"id":"6a194fa7.ab2348","type":"function","z":"4d2bfccf.9aa184","name":"Step 1: Specify file, device_type, task_type ","func":"msg.headers = {\n    'content-type': 'multipart/form-data'\n};\n\nvar input_image = msg.payload\n\nmsg.payload = {\n    'device_type': 'tx2',\n    'task_type': 'skynet',\n    'file':{\n        'value': input_image,\n        'options':{\n            'filename': msg.filename\n        }\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":500,"wires":[["9bba4f61.9e149"]]},{"id":"9dbf6a30.5e0b48","type":"debug","z":"4d2bfccf.9aa184","name":"Task ID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1560,"y":420,"wires":[]},{"id":"3f45b446.f0762c","type":"http request","z":"4d2bfccf.9aa184","name":"Step 2: Query the status using HTTP GET","method":"GET","ret":"txt","paytoqs":false,"url":"http://141.142.204.78/uploader ","tls":"","persist":false,"proxy":"","authType":"bearer","x":740,"y":600,"wires":[["85fa4876.797648"]]},{"id":"175b3fda.4924b","type":"function","z":"4d2bfccf.9aa184","name":"Step 1: Get task ID","func":"msg.headers = {\n    'taskID': msg.payload\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":500,"wires":[["3f45b446.f0762c","ed6d6d1d.4f6618"]]},{"id":"85fa4876.797648","type":"switch","z":"4d2bfccf.9aa184","name":"Step 2: Check task status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"UNKNOWN","vt":"str"},{"t":"eq","v":"SUBMITTED","vt":"str"},{"t":"eq","v":"RUNNING","vt":"str"},{"t":"eq","v":"PENDING","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":1070,"y":600,"wires":[["b875c78e.13c778"],["b875c78e.13c778"],["b875c78e.13c778"],["b875c78e.13c778"],["7a64e370.e2531c"]]},{"id":"7a64e370.e2531c","type":"change","z":"4d2bfccf.9aa184","name":"Valid URL","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":620,"wires":[["46606a1.87e9394","623fa9d1.66ec38"]]},{"id":"b875c78e.13c778","type":"debug","z":"4d2bfccf.9aa184","name":"Task status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1310,"y":580,"wires":[]},{"id":"46606a1.87e9394","type":"http request","z":"4d2bfccf.9aa184","name":"Step 3: Download","method":"GET","ret":"bin","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1510,"y":620,"wires":[["83cc0806.41591","33860cf.74beb74"]]},{"id":"83cc0806.41591","type":"file","z":"4d2bfccf.9aa184","name":"Step 4: Save the file","filename":"/Users/yuchengjin/Desktop/COLLEGE/JUNIOR/SP20/ECE498/Labs/Lab2/file.tar.gz","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":680,"y":740,"wires":[["3060a5fb.17188a"]]},{"id":"3060a5fb.17188a","type":"exec","z":"4d2bfccf.9aa184","command":"tar -xvf /Users/yuchengjin/Desktop/COLLEGE/JUNIOR/SP20/ECE498/Labs/Lab2/file.tar.gz -C /Users/yuchengjin/Desktop/COLLEGE/JUNIOR/SP20/ECE498/Labs/Lab2","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Step 4: Untar the file","x":920,"y":740,"wires":[["bd41cee2.5debc8"],[],[]]},{"id":"ed6d6d1d.4f6618","type":"delay","z":"4d2bfccf.9aa184","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":660,"wires":[["3f45b446.f0762c"]]},{"id":"623fa9d1.66ec38","type":"debug","z":"4d2bfccf.9aa184","name":"URL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1510,"y":580,"wires":[]},{"id":"33860cf.74beb74","type":"debug","z":"4d2bfccf.9aa184","name":"Download","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1520,"y":700,"wires":[]},{"id":"9b2d854b.afc408","type":"catch","z":"4d2bfccf.9aa184","name":"","scope":null,"uncaught":false,"x":640,"y":800,"wires":[["c5580b9a.b14a18"]]},{"id":"bd41cee2.5debc8","type":"debug","z":"4d2bfccf.9aa184","name":"END OF PROCESS","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"\"Completed!\"","targetType":"jsonata","x":1180,"y":740,"wires":[]},{"id":"c5580b9a.b14a18","type":"debug","z":"4d2bfccf.9aa184","name":"END OF PROCESS","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":800,"wires":[]}]